.jumbotron {
  background-image: url(https://wallpaperaccess.com/full/728800.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-color: black;

}
.card {
  background-color: rgb(136, 23, 23);
  color: aliceblue;
  

}
li {
    padding: 5px;
    margin: 5px;
    background:goldenrod;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  